body {
    /* background: linear-gradient(to right, #c04848, #480048); */
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: 200px;
    width: 280px
}
.filterDiv {
    float: left;
    background-color: #fff;
    color: #ffffff;
    width: 350px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .list {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .Click_name {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #fff;
    cursor: pointer;
    
    
  }

  
  .Click_name:hover {
    background-color: red;
  }
  
  .Click_name.active {
    /* background-color: #666; */
    color: red;
  }
  .Product{
    height: 470px;
  }
  .Product_List{
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .chitiet{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  .Name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    height: 25px;
  }
  .Price{
    height: 25px;
    font-family: math;
    color: #555;
  }
  .Status{
    color: black;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: flex-start;

  }
  .Stauts_product{
    height: 20px;
    margin-bottom: 5px ;
  }
  .icon{
    color: #555;
  }
  .Click_product{
    height: 50px;
    margin-top: 40px;
  }
  .btn_product{
    height: 50px;
    
  }
  .text{
    color: black;
  }
  .click_btn{
    box-shadow: 0 0 15px 4px red, 0 0 120px 2px red, inset 0 0 15px 4px red, inset 0 0 100px 2px red;
    border-radius: 8px;
    border: 2px solid #fff;
    border-color: #ffbde5;
  }